.hero-unit {
  position: relative;
  padding: 15px 15px !important;
  color: #F5F5F5;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.24);
  background: #4393B9;
  height: 110px !important;
  width: 80% !important;
  margin: 0 auto !important;
  margin-bottom: 70px !important;

}

table, th, td {
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-collapse: collapse;
  width: 50%;
  height: 30px;
  align: right;
  border-radius: 25px;
}

form{
  align: left;
}

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
}

.assignButton {
  background-color: #008000;

}
.assignButton:hover {
  background-color:red;

}

.center {
  text-align:center;

}
