<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="">
    <h1>Student Manager</h1>
  </div>
</header>


<div class="container">
<div class="col-xs-3 accordion-toggle">
  <p>
    Click on a group to display the list of students that are in that specific group.
    Click the pencil to edit the groups name or click the trash can to delete the group.
  </p>
  <h1 class="">Groups:</h1>
  <ul class="list-group scroll">
    <li class="list-group-item">
      <form ng-submit="addGroup()">
        <input ng-model="groupField" type="text" size="15" placeholder="Add a group">
        <input type="submit" value="Submit" class="btn btn-primary">
      </form>
    </li>
    <li class="list-group-item" type="checkbox" ng-repeat="group in localGroupArray"><label>
      <input type="checkbox" id="myCheck" value="value" ng-click="allCheckedGroups(group)"><a href="" ng-click="displayGroupInfo(group); groupShow()">{{group.groupName}}</a></label>
      <span class="glyphicon glyphicon-trash floatRight close" title="Delete Group" ng-click="removeGroup($index, group)"></span>
      <span class="glyphicon glyphicon-pencil floatLeft close" title="Edit Group Name" ng-click="editGroupName($index)"></span>
    </li>
    <!--adapt for groups-->

    <!--<li class="list-group-item" ng-repeat="group in localGroupArray">-->
    <!--{{group}}-->

  </ul>
</div>


<div class="col-xs-6 center">
  <p>
    Click the minus sign to remove a student from a group.
  </p>
  <input class="btn btn-primary center-block assignButton" type="submit" value="Add Selected Students to Selected Groups" class="btn btn-primary" ng-click="addStudentsToGroups()">
  <div ng-show="showGroups">
    <!--adapt for students-->
    <h1 class="">Students in {{selectedGroupName}}:</h1>
    <li class="list-group-item" ng-repeat="student in studentsInGroup"><label>{{student.lastName}}, {{student.firstName}}</label>
      <span class="glyphicon glyphicon-minus-sign floatRight close unassignIconColor" title="Delete Student From Group" ng-click="removeStudentFromGroup(student)"></span>
    </li>
    </ul>
    <div>
    </div>
  </div>

  <div ng-hide="showGroups">
    <h1 class="">{{selectedStudent.firstName}} {{selectedStudent.lastName}}'s Groups:</h1>
    <p ng-show="studentGroups.length==0">This student isn't assigned to any groups.</p>
    <li class="list-group-item" ng-repeat="groups in studentGroups"><label>{{groups.groupName}}</label>
      <span class="glyphicon glyphicon-minus-sign floatRight close unassignIconColor" title="Delete Group From Student" ng-click="removeGroupFromStudent(groups)"></span>
    </li>
    </ul>
  </div>

</div>

<div class="col-xs-3">
  <p>
    Click on a student to display a list of their groups.
    Check both groups and students and then click the "Add Selected Students to Selected Groups" button in order to assign students to different groups.
  </p>
  <h1 class="">All Students:</h1>

  <ul class="list-group scroll">
    <li class="list-group-item">
      <button class="btn btn-primary" title="Sort A-Z" ng-click="students.sort(orderBy('lastName'))">A-Z</button>
      <form ng-submit="addTag()">
      </form>
    </li>
    <!--TODO Attach to database to display all the words-->
    <li class="list-group-item" type="checkbox" ng-repeat="student in students"><label><input type="checkbox" id="myCheck" value="value" ng-click="allCheckedStudents(student._id)"><a ng-click="displayStudentGroups(student)">{{student.lastName}}, {{student.firstName}}</a></label></li>
  </ul>
</div>
</div>
<!--<form ng-submit="addGroup()">-->
<!--<input ng-model="groupField" type="text" size="15" placeholder="Add a group!">-->
<!--<input type="submit" value="Submit" class="btn btn-primary">-->
<!--</form>-->
<!--</li>-->
<!--<li class="list-group-item" type="checkbox" ng-repeat="group in localGroupArray"><label><input type="checkbox" id="myCheck" value="value" ng-click="allCheckedGroups(group)">{{group.groupName}}</label><span class="glyphicon glyphicon-trash floatRight close" style="color: #000000" ng-click="removeData($index)"></span></li>-->
<!--&lt;!&ndash;adapt for groups&ndash;&gt;-->

