<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="">
    <h1>Student Manager</h1>
  </div>
</header>

<div class="container">
  <div class="col-xs-3 accordion-toggle">
    <!--Help text-->
    <p ng-show= "help">
      Click on a group to display the list of students that are in that specific group.
      Click the pencil to edit the group's name or click the trash can to delete the group.
    </p>

    <h1>Your {{classArray.length}} Classes:</h1>
    <!--Add a new group to add students to-->
    <form ng-submit="addClass()">
      <input ng-model="classField" type="text" size="15" placeholder="Add a Class">
      <input type="submit" value="Submit" class="btn-primary">
    </form>
    <br>
    <!--Sorting A-Z or Z-A option-->
    <button class="btn-primary" title="Sort A-Z" ng-click="toGroupSort = 'groupName'; groupOrder = !groupOrder">A-Z</button>
    <!--List of current groups with edit and remove options-->
    <ul class="list-group scroll">
      <p>
      <li class="list-group-item" type="checkbox" ng-repeat="class in classArray | orderBy: toGroupSort:groupOrder"><label>
        <input type="checkbox" value="value" ng-click="allCheckedClasses(class)"><a href="" ng-click="displayClassInfo(class); classShow()">{{class.className}}</a></label>
        <span class="glyphicon glyphicon-trash floatRight close" title="Delete Group" ng-click="removeClass($index, class)"></span>
        <span class="glyphicon glyphicon-pencil floatLeft close" title="Edit Group Name" ng-click="editClassName(class)"></span>
      </li>
    </ul>
  </div>

  <div class="col-xs-6 center">
    <!--Help text-->
    <p ng-show= "help">
      Click the minus sign to remove a student from a group.
    </p>
    <!--Button to show help text-->
    <button class="btn btn-primary center-block" title="Get Help" ng-click="toggleHelp()">Get Help</button>
    <!--Spacing before next button-->
    <br>
    <!--Button to assign checked students to checked groups-->
    <input class="btn btn-primary center-block assignButton" type="submit" value="Add Selected Students to Selected Groups" class="btn btn-primary" ng-click="addStudentsToClasses()">
    <!--Shows the students that are in a selected class-->
    <div ng-show="showClasses">
      <h1>Students in {{selectedClassName}}</h1>
        <ul>
          <li class="list-group-item" ng-repeat="students in studentsInClass | orderBy: toSort:order">
            <label>{{students.lastName}}, {{students.firstName}}</label>
            <span class="glyphicon glyphicon-minus-sign floatRight close unassignIconColor" title="Remove Student From Group" ng-click="removeStudentFromClass(students)"></span>
          </li>
        </ul>
    </div>
    <!--Shows the groups that the selected student is in-->
    <div ng-hide="showClasses">
      <h1>{{selectedStudent.firstName}} {{selectedStudent.lastName}}'s Classes</h1>
      <p ng-show="studentClasses.length == 0">This student isn't assigned to any classes.</p>
      <ul>
        <li class="list-group-item" ng-repeat="classes in studentClasses">
          <label>{{classes.className}}</label>
          <span class="glyphicon glyphicon-minus-sign floatRight close unassignIconColor" title="Delete Class From Student" ng-click="removeClassFromStudent(classes)"></span>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-xs-3">
    <!--Help text-->
    <p ng-show = "help">
        Click on a student to display a list of their groups.
        Check both groups and students and then click the "Add Selected Students to Selected Groups" button in order to assign students to different groups.
    </p>

    <h1>Your {{students.length}} Students:</h1>
    <!--Add a new student-->
    <form ng-submit="addStudent()">
      <input ng-model="firstname" type="text" size="15" placeholder="First Name">
      <input ng-model="lastname" type="text" size="15" placeholder="Last Name">
      <input type="submit" value="Submit" class="btn-primary">
    </form>
    <br>
    <!--Sorting A-Z or Z-A option, additional search box-->
    <button class="btn-primary" title="Sort A-Z" ng-click="toSort = 'lastName'; order = !order">A-Z</button>
    <input type="text" placeholder="Search Students" ng-model="searchText">
    <!--List of students-->
    <ul class="list-group scroll">
      <p>

      <li class="list-group-item" type="checkbox" ng-repeat="student in students | filter: searchText | orderBy: toSort:order">
        <input type="checkbox" value="value" ng-click="allCheckedStudents(student._id)">
        <label><a ng-click="displayStudentClasses(student)">{{student.lastName}}, {{student.firstName}}</a></label>
        <span class="glyphicon glyphicon-trash floatRight close" title="Delete Student" ng-click="removeStudent(students.indexOf(student), student)"></span>
    </li>
    </ul>
  </div>
</div>
