<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="">
    <h1>My Words</h1>
  </div>
</header>

<div class="container">
  <!--Displaying words user has added-->
  <div class="col-sm-6">
    <h2>The {{userWords.length}} Words You've Added:</h2>
    <!--Search option for words-->
    <div class="col-xs-5">
      <input type="text" ng-Model="searchUserWords" placeholder="Search My Words">
      <input type="text" ng-Model="searchUserWordTypes" placeholder="Search Word Types">
    </div>

    <!--Editing options for selected word-->
    <div class="col-xs-3" ng-hide="showValue">
      <input ng-model="editField" type="text" size="15" placeholder={{allWords[editWordIndex].name}}>
    </div>

    <div class="col-xs-4" ng-hide="showValue">
      <!--Currently: {{allWords[editWordIndex].wordType}}-->
      <select ng-model="editType">
        <option ng-repeat="option in typeOptions" ng-value="'{{option}}'">{{option}}</option>
      </select>
      <input type="submit" value="Edit" class="btn-primary" ng-click="updateWord()">
    </div>

    <ul class="list-group scroll">
      <p>
      <li class="list-group-item" ng-repeat="word in userWords | filter:{name:searchUserWords} | filter:{wordType:searchUserWordTypes}">
      <label>{{word.name}}, {{word.wordType}}</label>
      <a class="glyphicon glyphicon-pencil" ng-click="editWord(word)"></a>
      <a class="glyphicon glyphicon-trash close" ng-click="removeWord(word)"></a>
      </li>
    </ul>
  </div>
  <!--Displaying all words in server-->
  <div class="col-sm-6">
    <h2>All Dictionary {{allWords.length}} Words:</h2>
    <input type="text" ng-Model="searchAllWords" placeholder="Search All Words"><br>
    <input type="text" ng-Model="searchAllWordTypes" placeholder="Search Word Types">
    <ul class="list-group scroll">
      <p>
      <li class="list-group-item" ng-repeat="word in allWords | filter:{name:searchAllWords} | filter:{wordType:searchAllWordTypes}">
        <label>{{word.name}}, {{word.wordType}}</label>
      </li>
    </ul>
  </div>
</div>
