<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
    <h1>Word Manager</h1>
</header>

<div class="container">
  <div class="col-xs-3 accordion-toggle" id="categories">
    <h1>Your {{categoryArray.length}} Context Packs:</h1>

    <!--Add context pack-->
    <form ng-submit="addCategory()">
      <input ng-model="categoryField" type="text" size="15" placeholder="Add a Context Pack">
      <input type="submit" value="Add" class="btn-primary">
    </form>
    <br>
    <button class="btn btn-primary" ng-click="uncheckAllCategories()">Uncheck All Packs</button>
    <input type="text" ng-Model="searchPacks" placeholder="Search Words">
    <!--List of all Context Packs-->
    <ul class="list-group scroll">
      <p>
        <li class="list-group-item" ng-repeat="category in categoryArray | filter:{name:searchPacks}">
        <label><input type="checkbox" value="value"  ng-click="checkCategorys(category)">
          <a ng-click="displayCatInfo(category)">{{category.name}}</a>
        </label>
        <span class="glyphicon glyphicon-trash floatRight close" ng-click="confirmDelete(category)"></span>
    </li>
    </ul>
    <!--Code for editing context packs, not sure if this is used since not edit button exists?-->
    <div class ="col-xs-3" ng-hide="showValue1">
      <input ng-model="editField" type="text" size="15" placeholder={{categoryArray[editCatIndex].name}}>
      <input type="submit" value="Edit" class="btn btn-primary" ng-click="updateCategory()">
    </div>
  </div>

  <div class="col-xs-6 center">
    <!--Button to add checked words to checked context packs-->
    <form ng-submit="addTileToCategory()">
      <input class="btn btn-primary center-block assignButton" type="submit" value="Add selected words to selected categories" class="btn btn-primary">
    </form>
    <!--Shows selected context pack's assigned words-->
    <div class="col-xs-3 wordfooter wordsIn">
      <h2>Words in <i>{{currentCategory.name}}</i></h2>
      <ul class="list-group middleScroll">
          <li class="list-group-item" ng-repeat="tile in matchTiles | orderBy: toSort:order">{{tile.name}}<span class="glyphicon glyphicon-minus-sign floatRight close unassignIconColor" ng-click="removeFromCategory(tile, $index)"></span></li>
      </ul>
    </div>
    <!--Shows selected word's assigned context packs-->
    <div class="col-xs-3 wordfooter categoriesIn">
      <h2>Categories containing <i>{{currentTile.name}}</i></h2>
      <ul class="list-group middleScroll">
          <li class="list-group-item" ng-repeat="category in contextTagsTemp | orderBy: toSort:order">{{category.name}}<span class="glyphicon glyphicon-minus-sign floatRight close unassignIconColor" ng-click="removeCategoryFromWord($index)"></span></li>
      </ul>
    </div>
  </div>


  <div class="col-xs-3">
    <h1>Your {{userTiles.length}} Existing words:</h1>
    <div>
      <!--Section for adding a new word and it's type to the system-->
      <form ng-submit="addWord()">
        <input ng-model="addField" type="text" size="15" placeholder="Add a New word">
        <br><br>
        <select ng-model="addType">
          <option ng-repeat="option in typeOptions" ng-value="'{{option}}'">{{option}}</option>
        </select>
        <!--<input ng-model="addType" type="text" size="15" placeholder="Add a type">-->
        <input type="submit" value="Add" class="btn-primary">
      </form>
    </div>

    <!--Editing options for selected word-->
    <div ng-hide="showValue">
      <br>
      <input ng-model="editField" type="text" size="15" placeholder={{userTiles[editWordIndex].name}}>
      <!--<input ng-model="editType" type="text" size="15" placeholder={{userTiles[editWordIndex].wordType}}>-->
      <br><br>
      <select ng-model="editType">
        <option ng-repeat="option in typeOptions" ng-value="'{{option}}'">{{option}}</option>
      </select>
      <input type="submit" value="Edit" class="btn-primary" ng-click="updateTile()">
    </div>

    <!--List of words with their type, also edit and delete option-->
    <div>
      <!--Break between add word and sorting options-->
      <br>
      <!--Sorting options-->
      <button class="btn btn-primary" ng-click="uncheckAllWords()">Uncheck All Words</button>
      <input type="text" ng-Model="searchWords" placeholder="Search Words">
      <ul class="list-group scroll">
        <p>
          <li class="list-group-item" ng-repeat="tile in userTiles | orderBy: toSort:order | filter:{name:searchWords}">
            <label><input type="checkbox" value="value"  ng-click="checkTiles(tile)">
              <a ng-click="displayWordInfo(tile)">{{tile.name}}, {{tile.wordType}}</a>
            </label>
            <span class="glyphicon glyphicon-trash floatRight close" ng-click="removeWord(tile)"></span>
            <span class="glyphicon glyphicon-pencil floatRight close" ng-click="editWord(tile)"></span>
          </li>
      </ul>
    </div>
  </div>
</div>

