#a {
  display: block;
  height: 38px;
  border-color: #F8F8F8;
}

img.resizeNav {
  width: 45px;
  height: 38px;
  margin-right: 10%;
}

.font-size {
  font-size: 11px;
  display: inline-block;
  font-weight: bold;
  padding-top: 6px;
}

.navbar-default .navbar-nav >
.active > a, .navbar-default
.navbar-nav > .active > a:hover, .navbar-default
.navbar-nav > .active > a:focus {
  height: 28px;
  border-radius: 5px;
  color: #000000;
}

.navbar-nav {
  height: 38px;
  color: #F8F8F8;
  background-color: #F8F8F8;
}

.navbar-default {
  height: 38px;
  border-bottom-color: #F8F8F8;
}

.navbar-text {
  margin-top: 9px;
  margin-bottom: 15px;
}

.navbar-nav > li > a {
  line-height: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
}
