<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="">
    <h1>Assign Content</h1>
  </div>
</header>

<div class="container">

    <!--This section is for the left column-->
    <div class="col-xs-3 accordion-toggle" ng-show="classView">
      <!--Help text-->
      <p ng-show="help">
        Click on any class to view class information, or "Show Students" to choose a student.
      </p>
      <!--Button to toggle between classes and students-->
      <button class="btn btn-primary" title="Show Students" ng-click="classView=!classView;fullName()">Show Students</button>

      <h1>Classes:</h1>
      <!--Sorting options for groups-->
      <button class="btn-primary" ng-show="AZ1" ng-click="order1 = !order1; AZ1=!AZ1">A-Z</button>
      <button class="btn-primary" ng-show="!AZ1" ng-click="order1 = !order1 ;AZ1=!AZ1">Z-A</button>
      <!--Tried implementing a search, but groups disappear everytime you start to type?-->
      <!--<input type="text" ng-Model="searchGroups" placeholder="Search Groups">-->
      <!--Listing all current groups-->
      <ul class="list-group scroll">
        <p>
        <li class="list-group-item" ng-repeat="class in userClasses | orderBy:'className':order1">
          <!--accordion groups do not like to work with an ng-repeat within an ng-repeat also, click the eyeball twice the first time you are on the page and then it will work fine-->
        <label><input type="checkbox" value="value" ng-click="checkClasses(class)">
          <a ng-click="displayClassInfo(class)">{{class.className}}</a>
        </label>
        <span class="glyphicon glyphicon-eye-close floatRight close" title="Show students in group" ng-click="isCollapsed = !isCollapsed; studentsInClassAssignment(class); openingOnlyOneClass(class)"></span>
          <ul collapse = "class.isCollapsed">
            <li  ng-repeat="students in studentsInClass">
              <label>{{students.lastName}}, {{students.firstName}}</label>
              <!-- TODO: Commented out since student display is breaking-->
              <!--<a ng-click="displayStudentInfo(students)">{{students.lastName}}, {{students.firstName}}</a>-->
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="col-xs-3" ng-hide="classView">
      <p ng-show="help">
        Click on any student to view student information, or "Show Classes" to choose a class.
      </p>
      <!--Button to toggle between students and groups-->
      <button class="btn btn-primary" title="Show Classes" ng-click="classView=!classView">Show Classes</button>

      <h1>Students:</h1>
      <!--Sorting options for students-->
      <button class="btn-primary" ng-show="!AZ0" ng-click="toSort0 = 'lastName'; order0 = !order0; AZ0=!AZ0">Z-A</button>
      <button class="btn-primary" ng-show="AZ0" ng-click="toSort0 = 'lastName'; order0 = !order0 ;AZ0=!AZ0">A-Z</button>
      <input type="text" ng-Model="searchStudents" placeholder="Search Students">
      <!--Listing all current students-->
      <ul class="list-group scroll">
        <p>
        <li class="list-group-item " ng-repeat="student in userStudents | orderBy:'lastName':order0 |filter:{fullName:searchStudents}">
          <label><input type="checkbox" value="value"  ng-click="checkStudents(student)">
            <a ng-click="displayStudentInfo(student)">{{student.lastName}}, {{student.firstName}}</a>
          </label>
        </li>
      </ul>
    </div>



    <!--This section is for the middle column-->
    <div class="col-xs-6" ng-hide="showMiddle">
      <!--Help text-->
      <p ng-show= "help">
        Click on any class, student, category, or word to find out more information. You can also select any number of groups or students and categories or words, and simply click "Assign Words" to assign them.
      </p>
      <button class="btn btn-primary center-block" title={{helpText}} ng-click="toggleHelp()">{{helpText}}</button>
      <!--Break between buttons-->
      <br>
      <!--Button to assign checked word/context pack to checked class/student-->
      <button  class="btn btn-primary center-block assignButton" title="Assign Words" ng-click="assignWords()">Assign Words</button>
      <!--TODO: Better wording or something here.-->
      <h3 class="center">Click on anything to begin.</h3>
    </div>

    <div class="col-xs-6" ng-show="showCategory">
      <!--Help text-->
      <p ng-show= "help">
        Click on any class, student, category, or word to find out more information. You can also select any number of groups or students and categories or words, and simply click "Assign Words" to assign them.
      </p>
      <!--Button for help text-->
      <button class="btn btn-primary center-block" title="Get Help" ng-click="toggleHelp()">Get Help</button>
      <!--Break between buttons-->
      <br>
      <!--Button to assign checked word/context pack to checked class/student-->
      <button  class="btn btn-primary center-block assignButton" title="Assign Words" ng-click="assignWords()">Assign Words</button>
      <br>
      <br>
      <!--Listed things after context pack is selected-->
      <div class="middleScroll">
        <!--Listing words in selected context pack-->
        <h4>The words in the context pack "{{categorySelected.name}}" are:</h4>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="word in matchWords | orderBy:'name'">
            <a ng-click="displayTileInfo(word)">{{word.name}}</a>
            <span class="glyphicon glyphicon-minus-sign floatRight close unassignIconColor" title="Unassign" ng-click="unassignTileFromCategory(word, categorySelected, 'category')"></span>
          </li>
        </ul>
        <!--Listing groups that are assigned the selected context pack-->
        <h4>The classes that have this context pack are:</h4>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="class in matchGroup | orderBy:'className'">
            <a ng-click = "displayClassInfo(class)">{{class.className}}</a>
            <span class="glyphicon glyphicon-minus-sign floatRight close unassignIconColor" title="Unassign" ng-click="unassignGroupFromCategory(class, categorySelected, 'category')"></span>
          </li>
        </ul>
        <!--Listing students that are assigned the selected context pack-->
        <h4>The students that have this context pack are:</h4>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="student in matchStudent | orderBy:'firstName'">
            <a ng-click="displayStudentInfo(student)">{{student.firstName}} {{student.lastName}}</a>
            <span class="glyphicon glyphicon-minus-sign close unassignIconColor" title="Unassign" ng-click="unassignStudentFromCategory(student, categorySelected, 'category')"></span>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-xs-6" ng-show="wordView">
      <!--Help text-->
      <p ng-show= "help">
        Click on any class, student, category, or word to find out more information. You can also select any number of groups or students and categories or words, and simply click "Assign Words" to assign them.
      </p>
      <!--Button for help text-->
      <button class="btn btn-primary center-block" title="Get Help" ng-click="toggleHelp()">Get Help</button>
      <!--Break between buttons-->
      <br>
      <!--Button to assign checked word/context pack to checked class/student-->
      <button  class="btn btn-primary center-block assignButton" title="Assign Words" ng-click="assignWords()">Assign Words</button>
      <br>
      <br>
      <!--Listed things after word is selected-->
      <div class="middleScroll">
        <!--Listing context pack assigned to selected word-->
        <h4>The word "{{tileSelected.name}}" is in the context packs:</h4>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="category in matchWordPacks | orderBy:'name'">
            <a ng-click="displayCatInfo(category)">{{category.name}}</a>
            <span class="glyphicon glyphicon-minus-sign floatRight close unassignIconColor" title="Unassign" ng-click="unassignTileFromCategory(tileSelected, category, 'tile')"></span>
          </li>
        </ul>
        <!--Listing groups assigned to selected word-->
        <h4>The classes that have this word are:</h4>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="class in matchGroup | orderBy:'className'">
            <a ng-click="displayClassInfo(class)">{{class.className}}</a>
            <span class="glyphicon glyphicon-minus-sign floatRight close unassignIconColor" title="Unassign" ng-click="unassignWordFromGroup(class, tileSelected, 'tile')"></span>
          </li>
        </ul>
        <!--Listing students that have the selected word assigned to them-->
        <h4>The students that have this word are:</h4>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="student in matchStudent | orderBy:'firstName'">
            <a ng-click="displayStudentInfo(student)">{{student.firstName}} {{student.lastName}}</a>
            <span class="glyphicon glyphicon-minus-sign floatRight close unassignIconColor" title="Unassign" ng-click="unassignWordFromStudent(student, tileSelected, 'tile')"></span>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-xs-6" ng-show="showClass">
      <!--Help text-->
      <p ng-show= "help">
        Click on any class, student, category, or word to find out more information. You can also select any number of groups or students and categories or words, and simply click "Assign Words" to assign them.
      </p>
      <!--Button for help text-->
      <button class="btn btn-primary center-block" title="Get Help" ng-click="toggleHelp()">Get Help</button>
      <!--Break between buttons-->
      <br>
      <!--Button to assign checked word/context pack to checked class/student-->
      <button  class="btn btn-primary center-block assignButton" title="Assign Words" ng-click="assignWords()">Assign Words</button>
      <br>
      <br>
      <!--Listing things after class is selected-->
      <div class="middleScroll">
        <!--Listing context packs assigned to the selected class-->
        <h4>The context packs that this class has are:</h4>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="pack in matchWordPacks | orderBy:'name'">
          <a href="" ng-click="displayCatInfo(pack)">{{pack.name}}</a><span class="glyphicon glyphicon-minus-sign floatRight close unassignIconColor" title="Unassign" ng-click="unassignGroupFromCategory(classSelected, pack, 'group')"></span></li>
        </ul>
        <!--Listing words assigned to the selected class-->
        <h4>The words that this class has are:</h4>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="tile in matchWords | orderBy:'name'">
            <a ng-click="displayTileInfo(tile)">{{tile.name}}</a>
            <span class="glyphicon glyphicon-minus-sign floatRight close unassignIconColor" title="Unassign" ng-click="unassignWordFromGroup(classSelected, tile, 'group')"></span>
          </li>
        </ul>
        <!--Listing students assigned to the selected class-->
        <h4>The class "{{classSelected.className}}" has the students: </h4>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="student in matchStudents | orderBy:'firstName'">
            <a ng-click="displayStudentInfo(student)">{{student.firstName}} {{student.lastName}}</a>
            <span class="glyphicon glyphicon-minus-sign floatRight close unassignIconColor" title="Unassign" ng-click="unassignStudentFromGroup(student, classSelected, 'group')"></span>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-xs-6" ng-show="studentView">
      <!--Help text-->
      <p ng-show= "help">
        Click on any class, student, category, or word to find out more information. You can also select any number of groups or students and categories or words, and simply click "Assign Words" to assign them.
      </p>
      <!--Button for help text-->
      <button class="btn btn-primary center-block" title="Get Help" ng-click="toggleHelp()">Get Help</button>
      <!--Break between buttons-->
      <br>
      <!--Button to assign checked word/context pack to checked class/student-->
      <button  class="btn btn-primary center-block assignButton" title="Assign Words" ng-click="assignWords()">Assign Words</button>
      <br>
      <br>
      <!--Listing things for when a student is selected-->
      <div class="middleScroll">
        <!--Listing classes that a selected student is assigned to-->
        <h4>The classes {{studentSelected.firstName}} {{studentSelected.lastName}} is in are:</h4>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="class in matchGroups | orderBy:'className'">
            <a ng-click="displayClassInfo(class)">{{class.className}}</a>
            <span class="glyphicon glyphicon-minus-sign floatRight close unassignIconColor" title="Unassign" ng-click="unassignStudentFromGroup(studentSelected, class,'student')"></span>
          </li>
        </ul>
        <!--Listing context packs that are assigned to the selected student-->
        <h4>The context packs that this student has are:</h4>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="pack in matchWordPacks | orderBy:'name'">
            <a ng-click="displayCatInfo(pack)">{{pack.name}}</a>
            <span class="glyphicon glyphicon-minus-sign floatRight close unassignIconColor" title="Unassign" ng-click="unassignStudentFromCategory(studentSelected, pack,  'student')"></span>
          </li>
        </ul>
        <!--Listing words that are assigned to the selected student-->
        <h4>The words that this student has are:</h4>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="tile in matchWords | orderBy:'name'">
            <a ng-click="displayTileInfo(tile)">{{tile.name}}</a>
            <span class="glyphicon glyphicon-minus-sign floatRight close unassignIconColor" title="Unassign" ng-click="unassignWordFromStudent(studentSelected, tile,  'student')"></span>
          </li>
        </ul>
      </div>
    </div>



    <!--This section is for the right column-->
    <div class="col-xs-3" ng-show="categoryView">
      <!--Help text-->
      <p ng-show= "help">
        Click on any category to view category information, or "Show Words" to choose a word.
      </p>
      <!--Button to toggle between context packs and words-->
      <button class="btn btn-primary" title="Show Words" ng-click="categoryView=!categoryView">Show Words</button>
      <h1>Word Packs:</h1>
      <!--Sorting options-->
      <button class="btn-primary" ng-show="!AZ2" ng-click=" order2 = !order2; AZ2=!AZ2">Z-A</button>
      <button class="btn-primary" ng-show="AZ2" ng-click=" order2 = !order2 ;AZ2=!AZ2">A-Z</button>
      <input type="text" ng-Model="searchCategories" placeholder="Search Packs">
      <!--Listing all current context packs in system-->
      <ul class="list-group scroll">
        <p>
        <li class="list-group-item" ng-repeat="wordPack in userWordPacks | orderBy:'name':order2 | filter:{name:searchCategories}">
          <label><input type="checkbox" value="value" ng-click="checkCategories(wordPack)">
            <a ng-click="displayCatInfo(wordPack)">{{wordPack.name}}</a>
          </label>
          <span class="glyphicon glyphicon-eye-close floatRight close" title= "Show words in word pack" ng-click="isCollapsed = !isCollapsed; populateDisplayTile(wordPack); openingOnlyOneCategory(wordPack)"></span>
            <ul collapse="category.isCollapsed">
              <li ng-repeat="word in displayTiles">
                <a ng-click="displayTileInfo(word)">{{word.name}}</a>
              </li>
            </ul>
        </li>
      </ul>
    </div>

    <div class="col-xs-3" ng-hide="categoryView">
      <p ng-show="help">
        Click on any word to view word information, or "Show Categories" to choose a category.
      </p>
      <!--Button to toggle between context packs and words-->
      <button class="btn btn-primary" title="Show Categories" ng-click="categoryView=!categoryView">Show Categories</button>
      <h1>Words:</h1>
      <!--Sorting options-->
      <button class="btn-primary" ng-show="AZ3" ng-click=" order3 = !order3; AZ3=!AZ3">A-Z</button>
      <button class="btn-primary" ng-show="!AZ3" ng-click=" order3 = !order3 ;AZ3=!AZ3">Z-A</button>
      <input type="text" ng-Model="searchWords" placeholder="Search Words">
      <!--Listing all current words in system-->
      <ul class="list-group scroll">
        <p>
        <li class="list-group-item" ng-repeat="tile in allWords | orderBy:'name':order3 | filter:{name:searchWords}">
          <label><input type="checkbox" value="value" ng-click="checkWords(tile)">
            <a ng-click="displayTileInfo(tile)">{{tile.name}}</a>
          </label>
        </li>
      </ul>
    </div>
</div>
