<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Assign Content to People</h1>
  </div>
</header>

<div class="container">
  <br/>
  <form ng-submit="assignWords()">
    <div class="col-xs-4 accordion-toggle" ng-show="groupView">
      <button class="btn btn-primary" title="Show Students" ng-click="showGroupView(false)">Show Students</button>
      <h1 class="page-header">Groups:</h1>
      <ul class="list-group scroll">
        <li class="list-group-item" ng-repeat="group in groupArray">
          <label><input type="checkbox" value="value" ng-click="checkGroups(group)"><a href="">{{group.groupName}}</a> <span class="glyphicon glyphicon-chevron-right floatRight close"></span></label>
        </li>
      </ul>
      <div id="groupCollapse" class = "panel-collapse collapse in">
        <div class="panel-body" ng-controller="StudentManagerCtrl" ng-click="displayGroupInfo(group)">
          <li class="list-group-item" ng-repeat="student in studentsInGroup"><label>{{student.lastName}}, {{student.firstName}}</label></li>
        </div>
      </div>
    </div>
    <div class="col-xs-4" ng-hide="groupView">
      <button class="btn btn-primary" title="Show Groups" ng-click="showGroupView(true)">Show Groups</button>
      <h1 class="page-header">Students:</h1>
      <ul class="list-group scroll">
        <li class="list-group-item " ng-repeat="student in selectedStudents">
          <label><input type="checkbox" value="studentChecked"  ng-click="checkStudents(student)"><a href="" ng-click="displayStudentInfo(student)">{{student.firstName}} {{student.lastName}}</a></label>
        </li>
      </ul>
    </div>
    <div class="col-xs-4">
      <h1>Middle Column</h1>
    </div>
    <div class="col-xs-4" ng-show="categoryView">
      <button class="btn btn-primary" title="Show Words" ng-click="showCategoryView(false)">Show Words</button>
      <h1 class="page-header">Categories:</h1>
      <ul class="list-group scroll">
        <li class="list-group-item" ng-repeat="category in categoryArray">
          <label><input type="checkbox" value="value" ng-click="checkCategories(category)"><a href="" ng-click="displayCatInfo(category)">{{category}}</a></label>
        </li>
      </ul>
    </div>
    <div class="col-xs-4" ng-hide="categoryView">
      <button class="btn btn-primary" title="Show Categories" ng-click="showCategoryView(true)">Show Categories</button>
      <h1 class="page-header">Words:</h1>
      <ul class="list-group scroll">
        <li class="list-group-item" ng-repeat="category in categoryArray">
          <label><input type="checkbox" value="value" ng-click="checkCategories(category)"><a href="" ng-click="displayCatInfo(category)">{{category}}</a></label>
        </li>
      </ul>
    </div>
    <input type="submit" value="Assign Words" class="btn btn-primary">
  </form>
  <!--<td> <div class="col-lg-12" ng-repeat="class in classList"><label><input type="checkbox" name="checkbox" value="value"></label> <li class="btn btn-default" ng-click="changeFilter(class)">{{class}}</li></div></td>
          <td> <div class="col-lg-12" ng-repeat="class in classList | filter: filterText" ng-show="true"><div class="col-lg-12" ng-repeat="person in studentList | filter: class |orderBy: 'student'" ng-show="true"><label><input type="checkbox" value="studentChecked"  ng-click="allCheckedStudents(person)"><a class="btn btn-default" ng-click="makeCurrentStudent(person)" href="/profile"> {{person.student}}</a></label></div></div>
          </td>
       -->
</div>




