<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Assign Content to People</h1>
  </div>
</header>

<div class="container">
  <br/>
  <form ng-submit="assignWords()">
    <input type="submit" value="Assign Words" class="btn btn-primary" style="margin-left:40%; margin-right:60%">
    <!--This section is for the left column-->
    <div class="col-xs-4 accordion-toggle" ng-show="groupView">
      <button class="btn btn-primary" title="Show Students" ng-click="showGroupView(false)">Show Students</button>
      <h1 class="page-header">Groups:</h1>
      <button class="btn btn-primary" ng-show="AZ1" ng-click="order1 = !order1; AZ1=!AZ1">A-Z</button>
      <button class="btn btn-primary" ng-show="!AZ1" ng-click="order1 = !order1 ;AZ1=!AZ1">Z-A</button>
      <ul class="list-group scroll">
        <li class="list-group-item" ng-repeat="group in groupArray  | orderBy:'groupName':order1">
          <input type="checkbox" value="value" ng-click="checkGroups(group)"><a href="" ng-click="displayGroupInfo(group.groupName)">{{group.groupName}}</a>
          <span class="glyphicon glyphicon-chevron-right floatRight close" ng-model="collapsed" ng-click="isCollapsed = !isCollapsed; studentsInGroupAssignment(group)"></span>
          <ul collapse="!isCollapsed">
            dfg
            <li ng-show="collapsed" class="list-group-item" ng-repeat="student in groupedStudents"><label>{{student.lastName}}, {{student.firstName}}</label>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-xs-4" ng-hide="groupView">
      <button class="btn btn-primary" title="Show Groups" ng-click="showGroupView(true)">Show Groups</button>
      <h1 class="page-header">Students:</h1>
      <button class="btn btn-primary" ng-show="!AZ0" ng-click="toSort0 = 'lastName'; order0 = !order0; AZ0=!AZ0">Z-A</button>
      <button class="btn btn-primary" ng-show="AZ0" ng-click="toSort0 = 'lastName'; order0 = !order0 ;AZ0=!AZ0">A-Z</button>
      <ul class="list-group scroll">
        <li class="list-group-item " ng-repeat="student in selectedStudents | orderBy:'lastName':order0">
          <input type="checkbox" value="studentChecked"  ng-click="checkStudents(student)"><a href="" ng-click="displayStudentInfo(student)">{{student.lastName}}, {{student.firstName}} </a>
      </ul>
    </div>
    <!--This section is for the middle column-->
    <div class="col-xs-4" ng-hide="showMiddle">
      <h3>Click on anything to begin.</h3>
    </div>
    <div class="col-xs-3" >
      <input type="button" value="Show Categories" class="btn btn-primary">
      <input type="button" value="Show words" class="btn btn-primary">
      <h1 class="page-header">Categories:</h1>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="category in categoryArray">
          <input type="checkbox" value="value" ng-click="checkCategories(category)"><a href="" ng-click="displayCatInfo(category)">{{category}}</a>
      </ul>
    </div>
    <div class="col-xs-4" ng-hide="categoryView">
      <button class="btn btn-primary" title="Show Categories" ng-click="showCategoryView(true)">Show Categories</button>
      <h1 class="page-header">Words:</h1>
      <button class="btn btn-primary" ng-show="AZ3" ng-click=" order3 = !order3; AZ3=!AZ3">A-Z</button>
      <button class="btn btn-primary" ng-show="!AZ3" ng-click=" order3 = !order3 ;AZ3=!AZ3">Z-A</button>
      <ul class="list-group scroll">
        <li class="list-group-item" ng-repeat="tile in userTiles | orderBy:'name':order3">
          <input type="checkbox" value="value" ng-click="checkCategories(category)"><a href="" ng-click="displayTileInfo(tile)">{{tile.name}}</a>
      </ul>
    </div>
  </form>
</div>
