<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="">
    <h1>My Students</h1>
  </div>
</header>

<div class="container">
  <h1>Your {{myStudents.length}} Students:</h1>
  <br>
  <!--List of current groups with edit and remove options-->
  <ul class="list-group scroll">
    <p>
      <input type="text" ng-Model="searchFirst" placeholder="Search by First Name">
      <input type="text" ng-Model="searchLast" placeholder="Search by Last Name">

    <li class="list-group-item" ng-repeat="student in myStudents | orderBy: 'firstName' | filter:{firstName: searchFirst} | filter:{lastName: searchLast}">

      <label><a href="" ng-click="">{{student.firstName}} {{student.lastName}}</a></label>
    </li>
  </ul>
</div>
