<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Student Profile</h1>
  </div>
</header>
<div class="col-xs-2" style="margin-left:auto display:block">

  <h3 class="page-header">All Students:</h3>
  <button class="btn btn-primary" ng-click="toSort = 'lastName'; order = !order">Sort by last name</button>
  <ul class="list-group">
    <li class="list-group-item" type="checkbox" ng-repeat="student in students | orderBy: toSort:order"><a href="" ng-click="displayStudentProfile(student)">{{student.lastName}}, {{student.firstName}}</a></li>
  </ul>
</div>
<div class="container">

  <div class="col-xs-8" style="margin-right:auto   display:block" ng-hide="hide">
    <a class="btn btn-default" href="/main"> Back to Home</a>
    <h1 class="page-header">{{selectedStudent.firstName}} {{selectedStudent.lastName}}</h1>


    <h3 class="page-header">Groups:</h3>
    <table style="width:100%">
      <tr>
        to add
      </tr>
    </table>

    <h3 class="page-header">Context Packs:</h3>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="contextPack in categoryArray"><label>{{contextPack}}</label>
        </li>
    </ul>

    <h3 class="page-header">Words:</h3>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="word in wordArray track by $index"><label>{{word}}</label>
      </li>
    </ul>

    <h3 class="page-header">Artifacts:</h3>
    <table style="width:100%">
      <tr>
        to add
      </tr>
    </table>
  </div>
</div>


<footer class="footer">
  <div class="container">
    <p>Team FTL Iteration 1 </p>
  </div>
</footer>
