<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Student Profile</h1>
  </div>
</header>
<div class="container">
  <div class="col-xs-3" align="center">
    <h2>All Students:</h2>
    <!--Sorting options-->
    <p>Search: <input type="text" ng-model="searchText"/></p>
    <button class="btn btn-primary btn-sm" ng-click="toSort = 'lastName'; order = !order">Sort by last name</button>
    <button class="btn btn-primary btn-sm" ng-click="toSort = 'firstName'; order = !order">Sort by first name</button>
    <ul class="list-group leftScroll">
      <li class="list-group-item" type="checkbox" style="text-align: left" ng-repeat="student in students | filter: searchText | orderBy: toSort:order">
        <a ng-click="displayStudentProfile(student)">{{student.lastName}}, {{student.firstName}}</a>
      </li>
    </ul>
  </div>

  <!--student data table-->
  <div class="col-xs-9" ng-hide="hide">
    <h1>{{selectedStudent.firstName}} {{selectedStudent.lastName}}</h1>
    <hr>
    <div class="col-xs-9 rightScroll">
      <!--Student image (currently a cat)-->
      <img class="profilePicture" src="assets/images/cat.jpg" alt="we have a logo!">
      <!--Listing groups selected student is assigned to-->
      <h3 class="page-header"> Groups: </h3>
      <ul>
        <li ng-repeat="group in studentGroups">
          <label>{{group.groupName}}</label>
        </li>
      </ul>
      <!--Listing context packs selected student is assigned to-->
      <h3 class="page-header">Context Packs:</h3>
      <ul>
        <li ng-repeat="contextPack in categoryArray">
          <label>{{contextPack.name}}</label>
        </li>
      </ul>
      <!--TODO: Look further into this to see if all words are shown are desired-->
      <!--Listing all assigned words (maybe?)-->
      <h3 class="page-header">Words:</h3>
      <ul class="words-table">
        <li class="list-group-item" ng-repeat="word in wordArray track by $index">
          <label>{{word.name}}</label>
        </li>
      </ul>
      <!--Listing associated artifacts, not currently data-bound to anything.-->
      <h3 class="page-header">Artifacts:</h3>
      <ul class="list-group">
        <li class="list-group-item">the quick brown fox jumped over the lazy dogs who had eaten all the cookies</li>
        <li class="list-group-item">trees are big</li>
      </ul>
    </div>
  </div>
</div>
