<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Student Profile</h1>
  </div>
</header>
<div class="container">
<div class="col-xs-3">
  <h3 class="page-header">All Students:</h3>
  <button class="btn btn-primary" ng-click="toSort = 'lastName'; order = !order">Sort by last name</button>
  <ul class="list-group leftScroll">
    <li class="list-group-item" type="checkbox" ng-repeat="student in students | orderBy: toSort:order"><a href="" ng-click="displayStudentProfile(student)">{{student.lastName}}, {{student.firstName}}</a></li>
  </ul>
</div>

  <!--student data table-->
  <div class="col-xs-9" ng-hide="hide">
    <h1>{{selectedStudent.firstName}} {{selectedStudent.lastName}}</h1>
    <hr>
    <div class="col-xs-9 rightScroll">
    <h3 class="page-header"> Groups: </h3>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="group in studentGroups"><label>{{group.groupName}}</label>
      </li>
    </ul>

    <h3 class="page-header">Context Packs:</h3>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="contextPack in categoryArray"><label>{{contextPack.name}}</label>
        </li>
    </ul>

    <h3 class="page-header">Words:</h3>
    <ul class="words-table">
      <li class="list-group-item" ng-repeat="word in wordArray track by $index"><label>{{word.name}}</label></li>
    </ul>
    <br />


    <h3 class="page-header">Artifacts:</h3>
    <ul class="list-group">
      <li class="list-group-item">the quick brown fox jumped over the lazy dogs who had eaten all the cookies</li>
      <li class="list-group-item">trees are big</li>
    </ul>
  </div>
  </div>
</div>


<footer class="footer">
  <div class="container">
    <p>Team FTL Iteration 1 </p>
  </div>
</footer>
