.thing-form {
  margin: 20px 0;
}
body, html{
  height: 100%;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
}

img.resize{
  position: relative;
  margin-top: 1%;
  width: 310px;
  height: 295px;
  float: left;
  margin-left: 12%;
  z-index: 0;
}

img.resizeNav{
  width: 70px;
  height: 70px;
}

.h2 {
  float: left;
  margin-left: 0.1%;
  font-size: 170% !important;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 0.5px #000000;
}

.loginBox {
  width: 35%;
  width: 35%;
  height: auto;
  border-radius: 25px;
  opacity: 0.75;
  background: #000000;
  float: left;
  margin-left: -35%;
  margin-top: 5%;
}

.navbar {
  position: fixed;
  top: 1px;
  width: 100%;
  height: 60px;

}
.background {
  background-repeat: no-repeat;
  padding: 35px;
  position: fixed !important;
  margin-top: 60px;
  width: 100%;
  height: 400px;
}
.test{
  margin-top: 800px;
  overflow: auto;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 1;
}

.input {
  float: left;
  opacity: 1;
  color: black;
  width: 250px;
  margin-left: 10px;
  margin-top: 15px;
}

.label {
  float: left;
  margin-left: 10px;
  margin-top: 17px;
  font-size: 120%;
}

.clear {
  clear: both;
}

.buttonSizeUpperLogIn {
  margin-left: 10px;
  margin-top: 2px;
  float: left;
  width: 16%;
  height: 15%;
  font-size: 100%;
  padding: 6px;
  color: #000000;
}

.buttonSizeUpperSignUp {
  margin-left: 10px;
  margin-top: 17px;
  float: left;
  width: 16%;
  height: 15%;
  font-size: 100%;
  padding: 6px;
  color: #000000;
}

.buttonSizeLower {
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 17px;
  float: left;
  width: 16%;
  height: 15%;
  font-size: 100%;
  padding: 6px;
  color: #000000;
}

.container {
  height: 100%;
}

.help-block{
  float: left;
  color: #ff0000 !important;
  margin-bottom: -2%;
  margin-left: 10px;
}


.welcomeText {
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: 200% !important;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 0.5px #000000;
}
