<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-controller="MyWordPacksCtrl">
  <header class="hero-unit" id="banner">
    <div class="">
      <h1>My Word Packs</h1>
    </div>
  </header>
  <div class="container">
    <nav>
      <h3>What would like to view?
        <input type="button" name="wordPackOption" value="Context Packs" ng-click="toggleView('context')">
        <input type="button" name="wordPackOption" value="All Word Packs" ng-click="toggleView('all')">
        <input type="button" name="wordPackOption" value="Word Packs Not in Context Packs" ng-click="toggleView('indiv')">
      </h3>
    </nav>
    <!--For viewing context packs-->
    <div class="col-xs-3" ng-show="viewMyContextPacks">
      <h3>My Context Packs</h3>
      <ul class="list-group scroll">
        <li class="list-group-item" ng-repeat="contextPack in contextPacksHolder | orderBy:'name'">
          <label>{{contextPack.name}}</label>
          <a class="glyphicon glyphicon-pencil" ng-click="editContextName(contextPack)"></a>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="wordPack in contextPack.wordPacks | orderBy:'name'">
              <label><a ng-click="viewWordsInWordPack(wordPack)">{{ wordPack.name | limitTo: 10 }}{{wordPack.name.length > 10 ? '...' : ''}}</a></label>
              <input type="button" value="Edit Name" style="float:right" ng-click="editWordPackName(wordPack)">
            </li>
          </ul>
          <label><a class="glyphicon glyphicon-plus" ng-click="addWordPack(contextPack)"></a> Add Existing Word Pack </label>
          <label><a class="glyphicon glyphicon-plus" ng-click="newWordPack(contextPack)"></a> Add New Word Pack </label>
        </li>
      </ul>
    </div>
    <!--For viewing all word packs-->
    <div class="col-xs-3" ng-show="viewAllOfMyWordPacks">
      <h3>All of My Word Packs</h3>
      <ul class="list-group scroll">
        <li class="list-group-item" ng-repeat="wordPack in wordPacksHolder | orderBy:'name'">
          <label><a ng-click="viewWordsInWordPack(wordPack)">{{ wordPack.name | limitTo: 15 }}{{wordPack.name.length > 15 ? '...' : ''}}</a></label>
          <input type="button" value="Edit Name" style="float:right" ng-click="editWordPackName(wordPack)">
        </li>
      </ul>
      <label><a class="glyphicon glyphicon-plus" ng-click="newWordPack()"></a> Create New Word Pack </label>
    </div>
    <!--For viewing word packs not in context packs-->
    <div class="col-xs-3" ng-show="viewMyNonContextWordPacks">
      <h3>My Word Packs Not in Context Packs</h3>
      <ul class="list-group scroll">
        <li class="list-group-item" ng-repeat="wordPack in wordPacksNonContextHolder | orderBy:'name'">
          <label><a ng-click="viewWordsInWordPack(wordPack)">{{ wordPack.name | limitTo: 15 }}{{wordPack.name.length > 15 ? '...' : ''}}</a></label>
          <input type="button" value="Edit Name" style="float:right" ng-click="editWordPackName(wordPack)">
        </li>
      </ul>
      <label><a class="glyphicon glyphicon-plus" ng-click="newWordPack()"></a> Create New Word Pack </label>
    </div>

    <!--For editing a context pack name-->
    <div class="col-xs-3" ng-show="viewEditContextName">
      <h3>Edit {{contextToEditName}}</h3>
      <input ng-model="editContextNameField" type="text" size="15" placeholder= {{contextToEditName}}>
      <input type="submit" value="Edit Context Pack Name" class="btn-primary" ng-click="updateContextName()">
      <input type="submit" value="Cancel" class="btn-primary" ng-click="viewEditContextName = false">
    </div>

    <!--For editing a word pack name-->
    <div class="col-xs-3" ng-show="viewEditWordPackName">
      <h3>Edit {{wordPackToEditName}}</h3>
      <input ng-model="editWordPackNameField" type="text" size="15" placeholder= {{wordPackToEditName}}>
      <input type="submit" value="Edit Word Pack Name" class="btn-primary" ng-click="updateWordPackName()">
      <input type="submit" value="Cancel" class="btn-primary" ng-click="viewEditWordPackName = false">
    </div>

    <!--For creating a new word pack -->
    <div class="col-xs-3" ng-show="viewCreateWordPack">
      <div ng-hide="createWordPackForContext">
        <h3>New Word Pack</h3>
      </div>
      <div ng-show="createWordPackForContext">
        <h3>New Word Pack for {{currentContextPack.name}}</h3>
      </div>
      <input ng-model="createWordPackNameField" type="text" size="15" placeholder="Name of Word Pack">
      <input type="submit" value="Add New Word Pack" class="btn-primary" ng-click="createWordPack()">
      <input type="submit" value="Cancel" class="btn-primary" ng-click="viewCreateWordPack = false">
    </div>

    <!--For adding a existing word pack to a context pack -->
    <div class="col-xs-3" ng-show="viewAddWordPack">
      <h3>Existing Word Packs to add to {{currentContextPack.name}}</h3>
      <ul class="list-group scroll">
        <li class="list-group-item" ng-repeat="wordPack in wordPacksNonContextHolder | orderBy:'name'">
          <label><a ng-click="viewWordsInWordPack(wordPack)">{{ wordPack.name | limitTo: 15 }}{{wordPack.name.length > 15 ? '...' : ''}}</a></label>
          <input type="button" value="Add" style="float:right" ng-click="addWordPackToContextPack(currentContextPack, wordPack)">
        </li>
      </ul>
      <input type="submit" value="Cancel" class="btn-primary" ng-click="viewAddWordPack = false">
    </div>

    <!--For viewing words in a word pack-->
    <div class="col-xs-3" ng-show="viewWordPackWords">
      <h3>Words in {{currentWordPack.name}}</h3>
      <ul class="list-group scroll">
        <li class="list-group-item" ng-repeat="word in wordsInWordPack | orderBy:'name'">
          <label>{{ word.name | limitTo: 20 }}{{word.name.length > 20 ? '...' : ''}}, {{word.wordType}}</label>
        </li>
      </ul>
    </div>

  </div>
</div>
