
<div ng-controller="MyClassesCtrl" class="container">
  <div ng-include="'components/navbar/navbar.html'"></div>
    <div class="">
      <br><br>
      <h1>{{headerTitle}}</h1>
    </div>

  <!--View for Classes-->
  <div ng-show="viewClassInfo">
    <h2>Your {{classArray.length}} Classes:</h2>
    <div class="col-xs-3">
      <!--List of current groups with edit and remove options-->
      <div ng-repeat="class in classArray">
        <label>{{class.className}}</label>
        <a class="glyphicon glyphicon-pencil" ng-click="editClassName(class)"></a>
        <a class="glyphicon glyphicon-trash" ng-click="removeClass(class)"></a>
        <button class="btn btn-primary" ng-click="isGroupsCollapsed = !isGroupsCollapsed">Toggle Groups</button>
        <div collapse="isGroupsCollapsed" ng-repeat="group in class.groupList">
          <label><a ng-click="viewGroups(group, class)">{{group.groupName}}</a></label>
        </div>
      </div>
    </div>
    <div class="col-xs-3" ng-hide="hideEdit">
      <br>
      <input ng-model="editField" type="text" size="15" placeholder={{classToEdit.className}}>
      <input type="submit" value="Edit Class Name" class="btn btn-primary" ng-click="updateClass()">
    </div>
  </div>

  <!--Area for editing a group name-->
  <div class="col-xs-3" ng-hide="hideGroupEdit">
    <br>
    <input ng-model="groupEditField" type="text" size="15" placeholder={{groupToEdit.groupName}}>
    <input type="submit" value="Edit Group Name" class="btn-primary" ng-click="updateGroup()">
    <input type="submit" value="Cancel" class="btn-primary" ng-click="hideGroupEdit = !hideGroupEdit">
  </div>

  <!--View for Selected Group In Class-->
  <div class="container" ng-show="viewGroupInfo">
    <h5>Back to: <a ng-click="toggleClassGroup('class')">Classes</a></h5>
    <nav>
      <h4>What would you like to view in {{currentGroup.groupName}}? &nbsp;&nbsp;&nbsp;
      <input class="btn btn-primary" type="button" value="Word Packs" name="groupItem" ng-click="viewGroupItems('wordPacks')">
      <input class="btn btn-primary" type="button" value="Words" name="groupItem" ng-click="viewGroupItems('words')">
      </h4>
    </nav>
    <nav ng-show="showWordPackSort">
      <h5>How would you like to sort word packs? &nbsp;&nbsp;&nbsp;
        <input class="btn btn-primary" type="button" value="Context Packs" name="wordPackOption" ng-click="wordPackFilter('contextPacks')">
        <input class="btn btn-primary" type="button" value="All Word Packs" name="wordPackOption" ng-click="wordPackFilter('all')">
        <input class="btn btn-primary" type="button" value="Word Packs Not in Context Packs" name="wordPackOption" ng-click="wordPackFilter('individual')">
      </h5>
    </nav>
    <nav ng-show="showWordSort">
      <h5>How would you like to sort words? &nbsp;&nbsp;&nbsp;
        <input class="btn btn-primary" type="button" value="All Assigned Words" name="wordOption" ng-click="wordFilter('all')">
        <input class="btn btn-primary" type="button" value="Individually Assigned Words" name="wordOption" ng-click="wordFilter('individual')">
      </h5>
    </nav>

    <!--Area to view student list in group-->
    <div class="col-xs-3" ng-show="viewStudents">
      <h3>Students:</h3>
      <div ng-repeat="student in studentsInGroup | orderBy:'firstName' ">
        <label>{{student.firstName}} {{student.lastName}}</label>
      </div>
      <label><a class="glyphicon glyphicon-plus" ng-click="toggleStudentInfo('add')"></a>  Add Students to {{currentGroup.groupName}}</label>
      <label><a class="glyphicon glyphicon-pencil" ng-click="toggleStudentInfo('edit')"></a>  Remove Students from  {{currentGroup.groupName}}</label>
    </div>

    <!--Area to add student to list in group-->
    <div class="col-xs-4" ng-show="viewAddStudents">
      <h3>Your Students Not in {{currentGroup.groupName}}:</h3>
      <input type="text" ng-Model="searchAddStudentsFirst" placeholder="Search By First Name">
      <input type="text" ng-Model="searchAddStudentsLast" placeholder="Search By Last Name">
      <ul class="list-group scroll">
        <li class="list-group-item" ng-repeat="studentAdd in studentsNotInGroup | orderBy:'firstName' | filter:{firstName:searchAddStudentsFirst}  | filter:{lastName:searchAddStudentsLast}">
          <label>{{studentAdd.firstName}} {{studentAdd.lastName}} </label>
          <input type="button" value="Add" style="float:right;" ng-click="addStudentToGroup(studentAdd, currentGroup)">
        </li>
      </ul>
      <button class="btn btn-primary" ng-click="toggleStudentInfo('off')"> Done Adding Students</button>
    </div>

    <!--Area to edit students in group list-->
    <div class="col-xs-4" ng-show="viewEditStudents">
      <h3>Students in {{currentGroup.groupName}}:</h3>
      <input type="text" ng-Model="searchEditStudentsFirst" placeholder="Search By First Name">
      <input type="text" ng-Model="searchEditStudentsLast" placeholder="Search By Last Name">
      <ul class="list-group scroll">
        <li class="list-group-item" ng-repeat="studentEdit in studentsInGroup | orderBy:'firstName' | filter:{firstName:searchEditStudentsFirst}  | filter:{lastName:searchEditStudentsLast}">
          <label>{{studentEdit.firstName}} {{studentEdit.lastName}} </label>
          <input type="button" value="Remove" style="float:right;" ng-click="removeStudentFromGroup(studentEdit, currentGroup)">
        </li>
      </ul>
      <button class="btn btn-primary" ng-click="toggleStudentInfo('off')"> Done Removing Students</button>
    </div>

    <!--Area to view context packs list in group-->
    <div class="col-xs-3" ng-show="viewContextPacks">
      <h3>Context Packs:
      <button class="btn btn-primary" title="Toggle Word Packs" ng-click="toggleWPinCP('toggle')">{{position}}</button>
      </h3>
      <ul class="list-group scroll">
        <li class="list-group-item" ng-repeat="contextPack in contextPacksHolderGroup | orderBy:'name'">
          <label>{{contextPack.name}}</label>
          <ul class="list-group" collapse="wpIsCollapsed">
            <!--This is for already added word packs-->
            <li class="list-group-item" ng-repeat="wordPack in getAssignedWordPacks(contextPack.wordPacks) | orderBy:'name'">
              <label><a ng-click="viewWordsInWordPack(wordPack); toggleWordPackAddGroup('off')">{{ wordPack.name | limitTo: 15 }}{{wordPack.name.length > 15 ? '...' : ''}}</a></label>
              <input type="button"  value="Remove" style="float:right; background: #FF0000;" ng-click="removeWordPackFromGroup(wordPack, currentGroup)" >
            </li>
            <!--This is for word packs in context pack, but not assigned.-->
            <li class="list-group-item" ng-repeat="wordPack2 in getNotAssignedWordPacks(getAssignedWordPacks(contextPack.wordPacks), contextPack.wordPacks) | orderBy:'name'">
              <label><a ng-click="viewWordsInWordPack(wordPack2); toggleWordPackAddGroup('off')">{{ wordPack2.name | limitTo: 15 }}{{wordPack2.name.length > 15 ? '...' : ''}}</a></label>
              <input type="button"  value="Add" style="float:right; background: #00FF00;" ng-click="addWordPackToGroup(wordPack2, currentGroup, 'all')">
            </li>
          </ul>
        </li>
        <label><a class="glyphicon glyphicon-plus" ng-click="toggleWordPackAddGroup('context')"> </a>
          Add Word Pack By Searching Context Packs</label>
      </ul>
    </div>
    <!--Area to view all word packs information-->
    <div class="col-xs-3" ng-show="viewAllWordPacks">
      <h3>All Word Packs:</h3>
      <div ng-repeat="wordPack in allWordPacksInGroup | orderBy:'name'">
        <label><a ng-click="viewWordsInWordPack(wordPack); toggleWordPackAddGroup('off')">{{ wordPack.name | limitTo: 15 }}{{wordPack.name.length > 15 ? '...' : ''}}</a></label>
      </div>
      <br>
      <label><a class="glyphicon glyphicon-plus" ng-click="toggleWordPackAddGroup('all')"></a>
       Add Word Pack By Searching All Word Packs</label>
      <label><a class="glyphicon glyphicon-pencil" ng-click="viewEditWordPacks = true"></a>
        Remove Assigned Word Packs</label>
    </div>
    <!--Area to view non context pack word packs information-->
    <div class="col-xs-3" ng-show="viewIndivWordPacks">
      <h3>Word Packs Not in Context Packs:</h3>
      <div ng-repeat="wordPack in indivWordPacksInGroup | orderBy:'name'">
        <label><a ng-click="viewWordsInWordPack(wordPack); toggleWordPackAddGroup('off')">{{ wordPack.name | limitTo: 15 }}{{wordPack.name.length > 15 ? '...' : ''}}</a></label>
      </div>
      <label> <a class="glyphicon glyphicon-plus" ng-click="toggleWordPackAddGroup('indiv')"></a>
        Add Word Pack By Searching Word Packs Not in Context Packs</label>
    </div>
    <!--Area for editing assigned word packs to a group-->
    <div class="col-xs-3" ng-show="viewEditWordPacks">
      <h3>Word Packs in {{currentGroup.groupName}}:</h3>
      <ul class="list-group scroll">
        <li class="list-group-item" ng-repeat="wordPackEdit in allWordPacksInGroup | orderBy:'name'">
          <label>{{ wordPackEdit.name | limitTo: 15 }}{{wordPackEdit.name.length > 15 ? '...' : ''}}</label>
          <input type="button" value="Remove" style="float:right;" ng-click="removeWordPackFromGroup(wordPackEdit, currentGroup)">
        </li>
      </ul>
      <button class="btn btn-primary" ng-click="viewEditWordPacks = false"> Done Editing Word Packs</button>
    </div>
    <!--Area to add individual word packs to group -->
    <div class="col-xs-3" ng-show="viewAddWordPacks">
      <div ng-show="viewAddContextWordPacks">
        <h3>Context Packs not in {{currentGroup.groupName}}:</h3>
        <input type="text" ng-Model="searchAddContextWordPacks" placeholder="Search Context Packs">
        <ul class="list-group scroll">
          <li class="list-group-item" ng-repeat="contextPackAdd in contextPacksHolderNotGroup">
            <label>{{ contextPackAdd.name | limitTo: 15 }}{{contextPackAdd.name.length > 15 ? '...' : ''}}</label>
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="wordPack in contextPackAdd.wordPacks">
                <label><a ng-click="viewWordsInWordPack(wordPack)">{{ wordPack.name | limitTo: 15 }}{{wordPack.name.length > 15 ? '...' : ''}}</a></label>
                <input type="button"  value="Add" style="float:right; background: #00FF00;" ng-click="addWordPackToGroup(wordPack, currentGroup, 'context')">
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div ng-show="viewAddAllWordPacks">
        <h3>All Word Packs not in {{currentGroup.groupName}}:</h3>
        <input type="text" ng-Model="searchAddIndivWordPacks" placeholder="Search Word Packs">
        <ul class="list-group scroll">
          <li class="list-group-item" ng-repeat="wordPackAdd in allWordPacksNotInGroup | orderBy:'name' | filter:{name:searchAddIndivWordPacks} ">
            <label><a ng-click="viewWordsInWordPack(wordPackAdd)">{{ wordPackAdd.name | limitTo: 15 }}{{wordPackAdd.name.length > 15 ? '...' : ''}}</a></label>
            <input type="button" value="Add" style="float:right;" ng-click="addWordPackToGroup(wordPackAdd, currentGroup, 'all')">
          </li>
        </ul>
      </div>
      <div ng-show="viewAddIndivWordPacks">
      <h3>Non Context Word Packs not in {{currentGroup.groupName}}:</h3>
        <input type="text" ng-Model="searchAddAllWordPacks" placeholder="Search Word Packs">
        <ul class="list-group scroll">
          <li class="list-group-item" ng-repeat="wordPackAdd in indivWordPacksNotInGroup | orderBy:'name' | filter:{name:searchAddAllWordPacks}">
            <label><a ng-click="viewWordsInWordPack(wordPackAdd)">{{ wordPackAdd.name | limitTo: 15 }}{{wordPackAdd.name.length > 15 ? '...' : ''}}</a></label>
            <input type="button" value="Add" style="float:right;" ng-click="addWordPackToGroup(wordPackAdd, currentGroup, 'indiv')">
          </li>
        </ul>
      </div>
      <button class="btn btn-primary" ng-click="toggleWordPackAddGroup('off'); viewWordPackWords = false"> Done Adding Word Packs</button>
    </div>

    <!--Area to view word pack words-->
    <div class="col-xs-3" ng-show="viewWordPackWords">
      <h3>Words In {{currentWordPack.name}}:</h3>
      <div ng-repeat="word in wordsInWordPack">
        <label>{{word.name}}, {{word.wordType}}</label>
      </div>
    </div>

    <!--Area to view words all words in group information-->
    <div class="col-xs-3" ng-show="viewAllWords">
      <h3>Words:</h3>
      <div ng-repeat="word in allWordsInGroup | orderBy:'name'">
        <label>{{word.name}}, {{word.wordType}}</label>
      </div>
      <label><a class="glyphicon-plus" ng-click="viewAddWord = true"></a> Add Words to {{currentGroup.groupName}}</label>
    </div>

    <!--Area to view indiv words in group information-->
    <div class="col-xs-3" ng-show="viewIndivWords">
      <h3>Words:</h3>
      <div ng-repeat="word in indivWordsInGroup | orderBy:'name'">
        <label>{{word.name}}, {{word.wordType}}</label>
      </div>
      <label><a class="glyphicon glyphicon-plus" ng-click="viewAddWord = true"></a> Add Words to {{currentGroup.groupName}}</label>
      <label><a class="glyphicon glyphicon-pencil" ng-click="viewEditWord = true"></a> Remove Assigned Word Packs</label>
    </div>

    <!--Area to add words to group -->
    <div class="col-xs-3" ng-show="viewAddWord">
      <h3>Words not in {{currentGroup.groupName}}:</h3>
      <input type="text" ng-Model="searchAddWords" placeholder="Search Words">
      <input type="text" ng-Model="searchAddWordsType" placeholder="Search By Word Type">
      <ul class="list-group scroll">
        <li class="list-group-item" ng-repeat="wordAdd in allWordsNotInGroup | orderBy:'name' | filter:{name:searchAddWords} | filter:{wordType:searchAddWordsType}">
          <label>{{wordAdd.name}}, {{wordAdd.wordType}}</label>
          <input type="button" value="Add" style="float:right;" ng-click="addWordToGroup(wordAdd, currentGroup)">
        </li>
      </ul>
      <button class="btn btn-primary" ng-click="viewAddWord = false"> Done Adding Words</button>
    </div>
    <!--Area to remove words from a group -->
    <div class="col-xs-3" ng-show="viewEditWord">
      <h3>Individually Assigned Words in {{currentGroup.groupName}}:</h3>
      <input type="text" ng-Model="searchEditWords" placeholder="Search Words">
      <input type="text" ng-Model="searchEditWordsType" placeholder="Search By Word Type">
      <ul class="list-group scroll">
        <li class="list-group-item" ng-repeat="wordEdit in indivWordsInGroup | orderBy:'name' | filter:{name:searchEditWords} | filter:{wordType:searchEditWordsType}">
          <label>{{wordEdit.name}}, {{wordEdit.wordType}}</label>
          <input type="button" value="Remove" style="float:right;" ng-click="removeWordFromGroup(wordEdit, currentGroup)">
        </li>
      </ul>
      <button class="btn btn-primary" ng-click="viewEditWord = false"> Done Adding Words</button>
    </div>

  </div>
</div>
