<div ng-include="'components/navbar/navbar.html'"></div>

<div ng-controller="MyClassesCtrl">
  <header class="hero-unit" id="banner">
    <div class="">
      <h1>{{headerTitle}}</h1>
    </div>
  </header>

  <!--View for Classes-->
  <div class="container" ng-show="viewClassInfo">
    <h2>Your {{classArray.length}} Classes:</h2>
    <div class="col-xs-4">
      <!--List of current groups with edit and remove options-->
      <div ng-repeat="class in classArray">
        <label>{{class.className}}</label>
        <a class="glyphicon glyphicon-pencil" ng-click="editClassName(class)"></a>
        <a class="glyphicon glyphicon-trash" ng-click="removeClass(class)"></a>
        <button class="btn-primary" ng-click="isGroupsCollapsed = !isGroupsCollapsed">Toggle Groups</button>
        <div collapse="isGroupsCollapsed" ng-repeat="group in class.groupList">
          <label><a href="" ng-click="viewGroups(group, class)">{{group.groupName}}</a></label>
        </div>
      </div>
    </div>
    <div class="col-xs-4" ng-hide="hideEdit">
      <br>
      <input ng-model="editField" type="text" size="15" placeholder={{classToEdit.className}}>
      <input type="submit" value="Edit Class Name" class="btn-primary" ng-click="updateClass()">
    </div>
  </div>

  <!--View for Selected Group In Class-->
  <div class="container" ng-show="viewGroupInfo">
    <h5>Back to: <a href="" ng-click="toggleClassGroup('class')">Classes</a></h5>
    <nav>
      <h4>What would you like to view in {{currentGroup.groupName}}? &nbsp;&nbsp;&nbsp;
      <input type="radio" name="groupItem" ng-click="viewGroupItems('wordPacks')"> Word Packs
      <input type="radio" name="groupItem" ng-click="viewGroupItems('words')"> Words
      </h4>
    </nav>
    <nav ng-show="showWordPackSort">
      <h5>How would you like to sort word packs? &nbsp;&nbsp;&nbsp;
        <input type="radio" name="wordPackOption" ng-click="wordPackFilter('contextPacks')" checked> Context Packs
        <input type="radio" name="wordPackOption" ng-click="wordPackFilter('all')"> All Word Packs
        <input type="radio" name="wordPackOption" ng-click="wordPackFilter('individual')"> Word Packs Not in Context Packs
      </h5>
    </nav>
    <nav ng-show="showWordSort">
      <h5>How would you like to sort words? &nbsp;&nbsp;&nbsp;
        <input type="radio" name="wordOption" ng-click="wordFilter('all')" checked> All Assigned Words
        <input type="radio" name="wordOption" ng-click="wordFilter('individual')"> Individually Assigned Words
      </h5>
    </nav>

    <!--Area to view student list in group-->
    <div class="col-xs-3" ng-show="viewStudents">
      <h3>Students:</h3>
      <div ng-repeat="student in studentsInGroup">
        <label>{{student.firstName}} {{student.lastName}}</label>
      </div>
      <label><a class="glyphicon glyphicon-plus" ng-click=""></a></label>
    </div>

    <!--Area to view context packs list in group-->
    <div class="col-xs-3" ng-show="viewContextPacks">
      <h3>Context Packs:</h3>
      <ul class="list-group scroll">
        <li class="list-group-item" ng-repeat="contextPack in contextPacksHolderGroup">
          <label>{{contextPack.name}}<a ng-click="toggleWPinCP('close')"> Toggle Word Packs</a></label>
          <ul class="list-group" collapse="wpIsCollapsed">
            <!--This will be for indiv words in context pack.-->
            <li class="list-group-item" ng-repeat="word in contextPack.words">
              <label>{{word.name}}</label>
            </li>
            <!--This will be for already added word packs-->
            <li class="list-group-item" ng-repeat="wordPack in contextPack.assignedWordPacks">
              <label><input type="checkbox"  ng-click="" checked>
                <a href="" ng-click="viewWordsInWordPack(wordPack)">{{wordPack.name}}</a></label>
            </li>
            <!--This will be for word packs in context pack, but not assigned.-->
            <li class="list-group-item" ng-repeat="wordPack2 in contextPack.notAssignedWordPacks">
              <label><input type="checkbox"  ng-click="">
                <a href="" ng-click="viewWordsInWordPack(wordPack2)">{{wordPack2.name}}</a></label>
            </li>
          </ul>
        </li>
        <label><a class="glyphicon glyphicon-plus" ng-click=""></a></label>
      </ul>
    </div>
    <!--Area to view all word packs information-->
    <div class="col-xs-3" ng-show="viewAllWordPacks">
      <h3>All Word Packs:</h3>
      <div ng-repeat="wordPack in allWordPacksInGroup">
        <label><a href="" ng-click="viewWordsInWordPack(wordPack)">{{wordPack.name}}</a></label>
      </div>
      <label><a class="glyphicon glyphicon-plus" ng-click=""></a></label>
    </div>
    <!--Area to view non context pack word packs information-->
    <div class="col-xs-3" ng-show="viewIndivWordPacks">
      <h3>Word Packs Not in Context Packs:</h3>
      <div ng-repeat="wordPack in indivWordPacksInGroup">
        <label><a href="" ng-click="viewWordsInWordPack(wordPack)">{{wordPack.name}}</a></label>
      </div>
      <label><a class="glyphicon glyphicon-plus" ng-click=""></a></label>
    </div>

    <!--Area to view word pack words-->
    <div class="col-xs-3" ng-show="viewWordPackWords">
      <h3>Words In {{currentWordPack.name}}:</h3>
      <div ng-repeat="word in wordsInWordPack">
        <label>{{word.name}}</label>
      </div>
      <label><a class="glyphicon glyphicon-plus" ng-click=""></a></label>
    </div>

    <!--Area to view words all words in group information-->
    <div class="col-xs-3" ng-show="viewAllWords">
      <h3>Words:</h3>
      <div ng-repeat="word in allWordsInGroup">
        <label>{{word.name}}</label>
      </div>
      <label><a class="glyphicon glyphicon-plus" ng-click=""></a></label>
    </div>

    <!--Area to view indiv words in group information-->
    <div class="col-xs-3" ng-show="viewIndivWords">
      <h3>Words:</h3>
      <div ng-repeat="word in indivWordsInGroup">
        <label>{{word.name}}</label>
      </div>
      <label><a class="glyphicon glyphicon-plus" ng-click=""></a></label>
    </div>

    <!--Area for editing a group name-->
    <div class="col-xs-3" ng-hide="hideGroupEdit">
      <br>
      <input ng-model="groupEditField" type="text" size="15" placeholder={{groupToEdit.groupName}}>
      <input type="submit" value="Edit Group Name" class="btn-primary" ng-click="updateGroup()">
      <input type="submit" value="Cancel" class="btn-primary" ng-click="hideGroupEdit = !hideGroupEdit">
    </div>
  </div>

</div>
